# Ignora os diretorios build e lib
build/*
lib/*

# Ignora todos os binarios/executaveis
bin/*

# Ignora o diretorio de documentacao
doc/*

#Ignora o diretorio de testes
#data/*

#Ignora o gmon.out
gmon.out